.b-container button{
    margin: 1em;
    background-color:rgb(0, 153, 145);
    border-color: rgb(39, 139, 0);
}

.b-container{
    width:50%;
    margin-right: 5%;
    margin-bottom: 5%;
    font-size:30px;
    position: absolute;
}
.b-popup{
    width:50%;
    min-height:50%;
    background-color: rgb(215, 255, 196);
    color:rgb(0, 139, 104);
    overflow:hidden;
    position:fixed;
    top:2em;
    border-radius: 12px;
    margin-left: 25%;
    margin-right: 25%;
}


.b-popup .b-popup-content{
    display: block;
    width:100px;
    height: 40px;
    padding:10px;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
}


h1{
	text-align: center;
}

img{
	width: 1em;
	float: right;
	margin-top: 10px;;
	
}

#send{
	margin-bottom: 1em;
	float: right;
    background-color:#c035db;
    border-color: #50b39a;
}


h1{
    text-align: center;
}

.form-control{
    border-style: hidden;
    width: 80%;
    margin:auto;
}

#error {
    text-align: center;
    font-size: 20px;
}


@media screen and (max-width: 800px) {
	.b-popup{
	    width:100vw;
	    height: 100vh;
	    margin-left: 0%;
        margin-right:0%;
        top: 0px;
    }
  
}
